<div class="games">
  <div class="game circlebox">
    <a href="/circlebox">
      <div class="screenshot"></div>
    </a>
  </div>
  <div class="game annoy">
    <a href="/annoy">
      <div class="screenshot"></div>
    </a>
  </div>
  <div class="game colorskip">
    <a href="/colorskip">
      <div class="screenshot"></div>
      <div class="game-title">ColorSkip</div>
    </a>
  </div>

  <div class="game triggerreflex">
    <a href="/triggerreflex"><div class="screenshot"></div></a>
  </div>

  <div class="game fruityfingers">
    <a href="/fruityfingers"><div class="screenshot"></div></a>
  </div>

  <div class="game presidendijooks">
    <a href="http://presidendijooks.ee"><div class="screenshot"></div></a>
  </div>

  <div class="game zombierun">
    <a href="http://zombierun.eu"><div class="screenshot"></div></a>
    <div class="game-title">ZombieRun</div>
    <div class="links">
      <a href="http://zombierun.eu/press">Presskit</a> |
      <a href="https://twitter.com/zombierungame">Twitter</a> |
      <a href="http://facebook.com/thezombierungame">Facebook</a> |
      <a href="http://forums.tigsource.com/index.php?topic=31739.0">Devlog</a>
    </div>
  </div>
<div>