    <div class="social">
        <a href="https://www.facebook.com/guerrillabandit" target="_blank"><img src="{{ "assets/images/fb.png" | prepend: site.baseurl }}" alt="Facebook"></a>
        <a href="https://twitter.com/guerrillabandit" target="_blank"><img src="{{ "assets/images/tw.png" | prepend: site.baseurl }}" alt="Twitter" data-pin-nopin="true"></a>
    </div>
    <div class="title">
        <span class="main-title">Guerrilla Bandit</span>
        &mdash; You'll never know what comes next... &mdash;
    </div>